<h2>タイトル</h2>
<p><%= @list.title %></p>
<h2>本文</h2>
<p><%= @list.body %></p>
<h2>画像</h2>
<%= image_tag @list.image, size: "300x300" %>
<%= link_to "編集", edit_list_path(@list.id) %>
<%# rails 6.Xでは以下のものを使う %>
<%# <%= link_to "削除", destroy_list_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<%# rails 7.Xでは以下のものを使う %>
<%= link_to "削除", destroy_list_path(@list.id), data: {turbo_method: :delete, confirm: "投稿を削除します。よろしいですか？"} %>